<form [formGroup]="userForm">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Name"
        />
        <small
          class="text-danger"
          *ngIf="!userForm.get('name').valid && userForm.get('name').touched"
          >Please Enter Your Full Name.</small
        >
      </div>
    </div>
  
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input gender"
              type="radio"
              formControlName="gender"
              value="male"
            />
            <label class="form-check-label"> Male </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input gender"
              type="radio"
              formControlName="gender"
              value="female"
            />
            <label class="form-check-label"> Female </label>
          </div>
          <small
            class="text-danger"
            *ngIf="
              !userForm.get('gender').valid && userForm.get('gender').touched
            "
          >
            Please Select Your Gender.
          </small>
        </div>
      </div>
    </fieldset>
  
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email Id</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email"
        />
        <small
          class="text-danger"
          *ngIf="!userForm.get('email').valid && userForm.get('email').touched"
          >Please Enter Your Email Id.</small
        >
      </div>
    </div>
  
    <div class="form-group row">
      <label for="mobile" class="col-sm-2 col-form-label">Mobile No</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="mobile"
          placeholder="Mobile"
        />
        <small
          class="text-danger"
          *ngIf="!userForm.get('mobile').valid && userForm.get('mobile').touched"
          >Please Enter Your Mobile Number.</small
        >
      </div>
    </div>
  
    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <select formControlName="category" class="custom-select">
          <option value="">Select Category</option>
          <option value="General">General</option>
          <option value="SC/ST">SC/ST</option>
          <option value="OBC">OBC</option>
        </select>
        <small
          class="text-danger"
          *ngIf="
            !userForm.get('category').valid && userForm.get('category').touched
          "
        >
          Please Select Your Category.
        </small>
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-2">Technology</div>
      <div class="col-sm-10">
        <div
          class="form-check form-check-inline"
          *ngFor="let control of technologiesArray.controls; let i = index"
        >
          <input
            class="form-check-input"
            [formControl]="control"
            (change)="getSelectedTechnologies()"
            type="checkbox"
            id="checkbox{{ i }}"
          />
          <label class="form-check-label" for="checkbox{{ i }}">{{
            technologies[i]
          }}</label>
        </div>
        <br />
        <small
          class="text-danger"
          *ngIf="selectTechnologyError && checkTechnologyIsTouched()"
          >Please Choose Atleast One Technology.</small
        >
      </div>
    </div>
  
    <div class="form-group row">
      <label for="mobile" class="col-sm-2 col-form-label">Profile Picture</label>
      <div class="col-sm-10 align-self-center">
        <input
          type="file"
          formControlName="profilepic"
          class="btn-info inputPic"
          (change)="handleFileInput($event.target.files)"
        />
        <small
          class="text-danger"
          *ngIf="
            !userForm.get('profilepic').valid &&
            userForm.get('profilepic').touched
          "
          >Please Upload Your Profile Picture.</small
        >
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-10">
        <button
          type="submit"
          class="btn btn-info previewBtn"
          [disabled]="userForm.invalid || selectTechnologyError"
          (click)="open(content)"
        >
          Preview
        </button>
      </div>
    </div>
  </form>
  
  <ng-template #content let-modal>
    <div class="modal-header" style="background-color: aliceblue;">
      <h4 class="modal-title" id="modal-basic-title">
        Please Verify Your Profile!
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body" style="background-color: darkcyan;">
      <ul class="list-group" style="background-color: aliceblue;">
        <li class="list-group-item">
          <span class="text-info">Name: </span>
          <span>{{ userForm.value.name }} </span>
        </li>
        <li class="list-group-item">
          <span class="text-info">Gender: </span>
          <span>{{ userForm.value.gender }} </span>
        </li>
        <li class="list-group-item">
          <span class="text-info">Email: </span>
          <span>{{ userForm.value.email }} </span>
        </li>
        <li class="list-group-item">
          <span class="text-info">Mobile: </span>
          <span>{{ userForm.value.mobile }} </span>
        </li>
        <li class="list-group-item">
          <span class="text-info">Category: </span>
          <span>{{ userForm.value.category }} </span>
        </li>
        <li class="list-group-item">
          <span class="text-info">Technology: </span>
          {{ selectedTechnologies }}
        </li>
        <li class="list-group-item">
          <span class="text-info">Profile Picture: </span>
          <img
            [src]="imageUrl"
            class="img-fluid img-responsive imgProfile"
            alt="Not uploaded"
          />
        </li>
      </ul>
    </div>
  
    <div class="modal-footer" style="background-color: aliceblue;">
      <button
        type="button"
        class="btn btn-info btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-info btn-outline-dark"
        (click)="showData(); modal.dismiss('Cross click')"
      >
        Submit
      </button>
    </div>
  </ng-template>
  