<div class="jumbotron mb-0">
  <div class="container">
    <div class="row mx-1 justify-content-center">
      <div class="mr-1 my-2">
        <a class="bg-info btn text-white p-2 link" routerLink="/users/create">
          Create User
        </a>
      </div>
      <div class="ml-1 my-2">
        <a class="bg-info btn text-white p-2 link" routerLink="/users/view">
          View All Users
        </a>
      </div>
    </div>
    <hr />
    <div class="m-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
